.container{
  position: relative;
  width: 600px;
  margin: auto;
}

img{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

.left-btn, .right-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left-btn{
  left: 10px;
}

.right-btn{
  right: 10px;
}

.button{
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
